{% extends "index.html" %}

{% block links %}
    <ul class="navbar-nav ">
        <li class="nav-item active">
            <a class="nav-link" href="/#slider_section">Home <span class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock links %}

{% block content %}
 <section class="contact_section layout_padding">
  <h3>Signup </h3>
<form method="POST">
 {% csrf_token %}
 {{form}}
 <button type="submit">Submitt</button>
</form>
{#<a class="signup-link" href="{% url "base:login" %}">Login</a>#}
</section>
{% endblock content %}
{% block feature %}
{% endblock feature %}

{% block about %}
{% endblock about %}

{% block contact %}
{% endblock contact %}